?
*.elc
/*.bbdb
/abbrev_defs
/places
/tmp/
/elpa/
/org/
/GTAGS
/GRTAGS
/GPATH
/GSYMS
/Mail
/News
/git/org-mode/
/config.el
/elisp/private.el
/todo.org
/todo.html
/tramp
/eshell/history
/eshell/lastdir
/private.el
